<!DOCTYPE html>
<html ng-app="ContactApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestions des contacts</title>
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

        <script src="node_modules/angular/angular.min.js"></script>
        <script src="src/js/app.js"></script>
    </head>
    <body ng-controller="ContactController as ctrl">
        <div class="container" style="margin-top: 60px;">

            <div class="panel panel-primary">

                <header class="panel-heading">Contacts</header>

                <section class="panel-body">

                    <input type="text" class="form-control" placeholder="Filtrer...">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Mail</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr contact ng-repeat="contact in ctrl.contacts"></tr>
                        </tbody>
                    </table>

                    <button class="btn btn-success" ng-click="ctrl.toAdd()">Ajouter...</button>

                    <div class="edit" ng-if="ctrl.edit">

                        <div class="page-header">
                            <h3>{{ ctrl.operation }} un contact</h3>
                        </div>

                        <div class="row">

                            <div class="col-xs-3">

                                <input type="text" ng-model="ctrl.contactTmp.nom" class="form-control" placeholder="Nom">

                            </div>

                            <div class="col-xs-3">

                                <input type="text" ng-model="ctrl.contactTmp.prenom" class="form-control" placeholder="Prénom">


                            </div>

                            <div class="col-xs-3">

                                <input type="text" ng-model="ctrl.contactTmp.mail" class="form-control" placeholder="Mail">


                            </div>

                            <div class="col-xs-3">

                                <div class="row">

                                    <div class="col-xs-12 col-md-6">

                                        <button class="btn btn-info btn-block" ng-click="ctrl.operation == 'Ajouter' ? ctrl.add() : ctrl.update();">Valider</button>

                                    </div>

                                    <div class="col-xs-12 col-md-6">

                                        <p class="hidden-md hidden-lg"></p>
                                        <button class="btn btn-danger btn-block" ng-click="ctrl.edit = false; ctrl.contact = {}">Annuler</button>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                    
                </section>

                <footer class="panel-footer">

                    <ng-pluralize count="ctrl.contacts.length" when="{ '0': 'Aucun contact trouvé', 'one': '1 contact trouvé', 'other': '{} contacts trouvé' }"></ng-pluralize>

                </footer>

            </div>

        </div>
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>